@import '../../styles/settings.scss';
.columnForm {
    display: flex;
    align-items: center;   
    padding: 10px;  
    justify-content: center;
}

input {
    margin-bottom: 15px; 
    width: 100%;       
    max-width: 300px;   
    padding: 8px;        
    box-sizing: border-box;
    border-radius: $radius;
}

label, span {
    margin: 5px;  
}

button {
    padding: 10px 20px; 
}